body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  position: relative;
}

.dino {
  width: 50px;
  height: 50px;
  background: no-repeat center/cover url("./images/dino-3.png");
  position: absolute;
  bottom: 0;
}

.cactus {
  width: 40px;
  height: 80px;
  background: no-repeat center/cover url("./images/16f85b4c4357f69cac435e4974db7561-removebg-preview.png");
  position: absolute;
  bottom: -12px;
  left: calc(100% - 40px);
  animation: cactusMov 1s infinite linear backwards;
}

.settings__text {
  text-align: center;
}

.settings__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@keyframes cactusMov {
  0% {
    left: calc(100% - 40px);
  }

  100% {
    left: 0;
  }
}

.jump1 {
  animation: jump .5s ease-in-out;
}

.jump2 {
  animation: jump 1s ease-in-out;
}

.jump3 {
  animation: jump 1.5s ease-in-out;
}

.jump4 {
  animation: jump 2s ease-in-out;
}

.jump5 {
  animation: jump 2.5s ease-in-out;
}

.jump6 {
  animation: jump 3s ease-in-out;
}


@keyframes jump {
  0% {
    bottom: 0;
  }

  50%{
    bottom: 150px;
  }

  100% {
    bottom: 0;
  }
}