body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: 0 auto;
  position: relative;
}

.dino {
  width: 50px;
  height: 50px;
  background: no-repeat center/cover url("./images/dino-3.png");
  position: absolute;
  bottom: 0;
}

.cactus {
  width: 40px;
  height: 80px;
  background: no-repeat center/cover url("./images/16f85b4c4357f69cac435e4974db7561-removebg-preview.png");
  position: absolute;
  bottom: -12px;
  left: calc(100% - 40px);
  animation: cactusMov 1s infinite linear;
  
}

@keyframes cactusMov {
  0% {
    left: calc(100% - 40px);
  }

  100% {
    left: 0;
  }
}

.jump {
  animation: jump .5s ease-in-out;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  50%{
    bottom: 150px;
  }

  100% {
    bottom: 0;
  }
}